.navdec{
    background-image:linear-gradient(45deg, orange,hsl(43, 97%, 54%));
    width:100vw;
    height:60px;
    text-align:center;
    padding-top:10px;
    padding-right: 10px;
    color:rgb(76, 72, 72);
    display:flex;
    justify-content: space-between;
}
